@page "/generos/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "admin")]

<h3>Crear generos</h3>

<FormularioGenero @ref="formulariogenero" Genero="Genero" OnValidSubmit="crear"></FormularioGenero>

@code {
    private Genero Genero = new Genero();

    private FormularioGenero? formulariogenero;

    async Task crear()
    {
        //A traves de esta variable hacemos la conexion al controller y asi poder hacer la peticion
        var httpResponse = await repositorio.Post("api/generos", Genero);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {

            formulariogenero!.FormularioPosteadoConExito = true;
            navigationManager.NavigateTo("generos");
        }

    }
}

