@page "/generos/editar/{GeneroId:int}"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles = "admin")]

<!--Condicion para no mostrar el componente hasta que genero quede nulo -->
@if (Genero is null)
{
    <p>Cargando...</p>
}
else
{
    <FormularioGenero @ref="formulariogenero" Genero="Genero" OnValidSubmit="Editar"></FormularioGenero>
}


@code {
    [Parameter]
    public int GeneroId { get; set; }
    private Genero? Genero;

    protected override async Task OnInitializedAsync()
    {
        var respuestaHTTP = await repositorio.Get<Genero>($"api/generos/{GeneroId}");
        //Si la respuesta de la peticion viene con error
        if (respuestaHTTP.Error)
        {
            //Se el status es NotFound, en automatico va a redirigir a Generos
            if (respuestaHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("generos");
            }//Sino, mandara una alerta
            else
            {
                var mensajeError = await respuestaHTTP.ObtenerMensajeError();
                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Genero = respuestaHTTP.Response;
        }
    }
    private FormularioGenero? formulariogenero;

    private async Task Editar()
    {
        var respuestaHTTP = await repositorio.Put("api/generos", Genero);
        if (respuestaHTTP.Error)
        {
            var mensajeError = await respuestaHTTP.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            formulariogenero!.FormularioPosteadoConExito = true;
            navigationManager.NavigateTo("generos");
        }

    }
}

