@page "/counter"

<PageTitle>Counter1</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
   
    private int currentCount = 0;
    [Inject] public IJSRuntime js { get; set; }

    private async Task IncrementCount()
    {
        var arreglo = new double[] { 1, 2, 3, 4 };
        var max = arreglo.Maximum();
        var min = arreglo.Minimum();

        await js.InvokeVoidAsync("alert", $"El max es: {max} y el min es: {min}");
        currentCount++;

    }
}

