@inject IJSRuntime js

@if (Peliculas is null)
{
    <p>Cargando las peliculas</p>
    @ChildContent

}
else if (Peliculas.Count == 0)
{
    <p>No hay peliculas</p>

}
else
{
    <input type="checkbox" @bind="MostrarBotones" />
    <span>Mostrar botones</span>


    @foreach (var pelicula in Peliculas)
    {
        <PeliculaIndividual Pelicula="pelicula"
                            EliminarPelicula="EliminarPelicula"
                            MostrarBotones="MostrarBotones">

        </PeliculaIndividual>
    }

}
@code {

    [Parameter]
    [EditorRequired]
    //Con [EditorRequired] declaramos que el parametro enviado, el componente lo tiene que recibir de forma obligatoria
    public List<BlazorPeliculas>? Peliculas { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
    bool MostrarBotones = false;
    //Method para ejecutar funcion inmediata cuando inicialize-cargue el componente en el navegador, ejemplo: cuando cargue el componente podemos dar un mensaje de espera para despues mostrar el contenido
    /*protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000);
        Peliculas = obtenerPeliculas();
        //Peliculas = new List<BlazorPeliculas>();
    }*/
    private async Task EliminarPelicula(BlazorPeliculas pelicula)
    {
        var confirmado = await js.InvokeAsync<bool>("confirm",
            $"Desea borrar la pelicula {pelicula.Titulo}?");
        if (confirmado)
        {
            Peliculas!.Remove(pelicula);
        }


    }

    public void LimpiarPeliculass()
    {
        if (Peliculas is not null)
        {
            Peliculas.Clear();
        }
    }
     protected override void OnInitialized()
     {
         Console.WriteLine("OnInitialized");
     }
    /*
    protected override void OnParametersSet()
    {
        Console.WriteLine("OnParameterSet");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("OnAfterRender" + firstRender);
    }
    protected override bool ShouldRender()
    {
        Console.WriteLine("ShouldRender");
        return true;
    }
    */

}

