
<div class="me-2 mb-2" style="text-align: center;">
    <a href="@urlPelicula">
        <img src="@Pelicula.poster" style="width: 226px; height:300px;" />
    </a>
    <p style="max-width: 226px; height:44px; font-size: 16px; font-weight: bold;">
        <a href="@urlPelicula" class="text-decoration-none">
            @Pelicula.Titulo
        </a>
    </p>
    <div>
        <a class="btn btn-info">Editar</a>
        <button class="btn btn-danger" type="button"
                @onclick=@(() => EliminarPelicula.InvokeAsync(Pelicula))>
            Borrar
        </button>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public BlazorPeliculas Pelicula { get; set; } = null!;
    [Parameter]
    public EventCallback<BlazorPeliculas> EliminarPelicula { get; set; }

    private string urlPelicula = string.Empty;
    protected override void OnInitialized()
    {
        urlPelicula = $"pelicula/";
    }

}

