@page "/peliculas/crear"
@inject NavigationManager navigationManager

<h3>Crear Pelicula</h3>
<FormularioPeliculas Pelicula="Pelicula" OnValidSubmit="crear"></FormularioPeliculas>


@code {
    private BlazorPeliculas Pelicula = new BlazorPeliculas();
    void crear()
    {
        Console.WriteLine(navigationManager.BaseUri);
        navigationManager.NavigateTo("pelicula");
    }
}

