@page "/peliculas/crear"
@inject NavigationManager navigationManager
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>Crear Pelicula</h3>
<FormularioPeliculas Pelicula="Pelicula" OnValidSubmit="crear" GenerosNoSeleccionados="GeneroNoSeleccionados"
                     ActoresSeleccionados="ActoresSeleccionados"></FormularioPeliculas>


@code {
    private BlazorPeliculas Pelicula = new BlazorPeliculas();
    private List<Genero> GeneroNoSeleccionados = new List<Genero>();

    public List<Actores> ActoresSeleccionados = new List<Actores>();

    protected override void OnInitialized()
    {
        GeneroNoSeleccionados = new List<Genero>()
        {
                new Genero() {Id = 1, Nombre="Comedia"},
                new Genero() {Id = 2, Nombre="Sci-Fi"},
                new Genero() {Id = 3, Nombre="Terror"},
                new Genero() {Id = 4, Nombre="Suspenso"}
            };

    }



    async void crear()
    {
        //Variable para acceder al controller y realizar su peticion
        var httpResponse = await repositorio.Post<BlazorPeliculas, int>("api/peliculas", Pelicula);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            var peliculaId = httpResponse.Response; 
            navigationManager.NavigateTo($"/pelicula/{peliculaId}/{Pelicula.Titulo.Replace(" ", "-")}");
        }
    }
}

