@page "/peliculas/crear"
@inject NavigationManager navigationManager


<button @onclick="crear">
    Guardar Pelicula
</button>

@code {
    void crear()
    {
        Console.WriteLine(navigationManager.BaseUri);
        navigationManager.NavigateTo("pelicula");
    }
}

